body {
    margin: 0;
    font-family: Arial;
    background: #020617;
    color: white;
}

.container {
    max-width: 400px;
    margin: 120px auto;
    padding: 30px;
    background: #0f172a;
    border-radius: 12px;
    text-align: center;
}

button {
    background: #3b82f6;
    padding: 12px;
    width: 100%;
    border: none;
    border-radius: 8px;
    color: white;
}